/*-------------------------------HERO*/
.hero {
  position: relative;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  color: var(--color-text-main);

  text-align: center;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.hero h1 {
  font-size: 18px;
  font-weight: bold;
}

.hero p {
  font-size: 13px;
  margin: 10px 0;
}

.hero button {
  font-size: 14px;
  margin-top: 10px;
  padding: 7px 0;
  background: var(--color-primary);
  color: var(--white);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  width: 35%;
}

.hero button:hover {
  opacity: 0.9;
}


/*-------------------------------RESPONSIVE TABLET*/
@media (min-width: 400px) and (max-width: 1024px) {
  .hero {
    padding: 0px;
    min-height: 300px;
  }

  .hero h1 {
    font-size: 25px;
  }

  .hero p {
    font-size: 14px;
  }

  .hero button {
    width: 150px;
    font-size: 14px;
  }
}

/*-------------------------------RESPONSIVE PC*/
@media (min-width: 1024px) {
  .hero {
    padding: 80px;
    min-height: 300px;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .hero button {
    width: 20%;
    font-size: 18px;
  }
}