/*-------------------------------HEADER*/
header {
    position: sticky;
    top: 0;
    background: var(--color-bg-header);
    z-index: var(--z-header);
    border-bottom: 1px solid var(--white-gray);
}

.header-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 55px;
}

.logo-container{
    padding: 10px 0;
}

/*-------------------------------NAVIGATION*/
.nav {
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: var(--z-header);
    padding: 10px 0;
    width: 100%;
    border-top: 1px solid var(--white-gray);
}

.nav.open {
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.menu-container {
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.menu-container button {
    display: inline-block;
    color: var(--color-text-main);
    font-weight: var(--font-bold);
    transition: color 0.2s ease, transform 0.2s ease;
    margin: 0 1.5rem;
}

.menu-container button:hover {
    color: var(--color-primary);
}

.menu-container button.active {
    color: var(--color-primary);
}

.menu-container li {
    border-left: 1px solid #f3f5f8;
}

.menu-container li:first-child {
    border-left: none;
}

.account-container {
    display: none;
}

.account-container button {
    color: var(--color-text-sub);
    font-size: var(--font-size-sm);
    padding: 0 20px;
    border-left: 1px solid var(--white-gray);
}

.account-container li:first-child button {
    border-left: none;
}

.account-container li button:hover {
    color: var(--color-primary);
    transform: translateY(0);
}

/*-------------------------------SECONDARY NAVIGATION*/
.secondary-nav-wrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: center;
    border-bottom: 1px solid var(--white-gray);
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}

.secondary-nav {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    min-width: max-content;
}

.secondary-nav li {
    list-style: none;
}

.secondary-nav button {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 4px 4px;
    margin: 0 15px;
    color: #111827;
    font-size: 13px;
    font-weight: var(--font-light);
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.2s ease;
}

.secondary-nav button:hover {
    transform: translateY(-1px);
}

.secondary-nav button img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    flex-shrink: 0;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.secondary-nav-wrapper::-webkit-scrollbar {
    height: 6px;
}

.secondary-nav-wrapper::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 9999px;
}


/*-------RESPONSIVE-------*/
@media (min-width: 1024px) {

    /*-------------------------------HEADER*/
    header {
        margin: auto;
        border-bottom: 1px solid var(--white-gray);
        padding: 8px 0;
    }

    .header-inner {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1200px;
        min-height: 65px;
        padding: 0 100px;
        margin: 0 auto;
    }

    /*-------------------------------NAVIGATION*/
    .nav {
        position: static;
        transform: none;
        height: auto;
        width: auto;
        flex-direction: row;
        justify-content: center;
        gap: 32px;
        transition: none;
        padding: 0;
        border: none;
    }

    .nav a:hover {
        transform: translateY(-3px);
    }

    .menu-container {
        flex-direction: row;
        gap: 32px;
    }

    .menu-container li {
        border-left: none;
    }

    .menu-container button {
        font-weight: var(--font-bold);
    }

    .account-container {
        display: flex;
        margin-top: 0;
    }

    /*-------------------------------SECONDARY NAVIGATION*/
    .secondary-nav-wrapper {
        text-align: center;
    }

    .secondary-nav button {
        padding: 3px 14px;
        font-size: 15px;
    }

    .secondary-nav button img {
        width: 45px;
        height: 45px;
    }


}