@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 100;
  font-style: normal;
  src: 
  url("./woff/NotoSans-Thin.woff") format("woff"),
  url("./woff2/NotoSans-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 200;
  font-style: normal;
  src: 
  url("./woff/NotoSans-Light.woff") format("woff"),
  url("./woff2/NotoSans-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 300;
  font-style: normal;
  src: 
  url("./woff/NotoSans-DemiLight.woff") format("woff"),
  url("./woff2/NotoSans-DemiLight.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 400;
  font-style: normal;
  src: 
  url("./woff/NotoSans-Regular.woff") format("woff"),
  url("./woff2/NotoSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 500;
  font-style: normal;
  src: 
  url("./woff/NotoSans-Medium.woff") format("woff"),
  url("./woff2/NotoSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 700;
  font-style: normal;
  src: 
  url("./woff/NotoSans-Black.woff") format("woff"),
  url("./woff2/NotoSans-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 900;
  font-style: normal;
  src: 
  url("./woff/NotoSans-Bold.woff") format("woff"),
  url("./woff2/NotoSans-Bold.woff2") format("woff2");
}
